/* MAIN - Contenido principal */
main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    margin-bottom: 10px;
}

main p {
    font-size: 1.1em;
}